<test-selection
  class="md-body-1"
  auto-select="false"
  disabling="true"
  no-value-option="No test selected"
  on-selection="$ctrl.onTestSelection(selectedTest)"
  options-prefix="Plot"
  show-underline="true"
  tests="$ctrl.tests"></test-selection>

<span style="margin-bottom: 4px; padding: 0 10px;"
      ng-if="$ctrl.selectedTest">compare</span>

<md-select class="md-no-underline"
           placeholder="what"
           ng-change="$ctrl.selectionChange()"
           ng-if="$ctrl.selectedTest"
           ng-model="$ctrl.boxType">
  <md-option ng-repeat="resource in $ctrl.boxTypeOptions"
             ng-value="resource">
    <span>{{ $ctrl.resourcePlural[resource] }}</span>
  </md-option>
</md-select>

<span style="margin-bottom: 4px; padding: 0 10px;"
      ng-if="$ctrl.selectedTest">and</span>

<md-select class="md-no-underline"
           placeholder="don't group {{ $ctrl.resourcePlural[$ctrl.boxType] }}"
           ng-change="$ctrl.selectionChange()"
           ng-if="$ctrl.selectedTest"
           ng-model="$ctrl.groupBy">
  <md-option ng-value="null">
    don't group {{ $ctrl.resourcePlural[$ctrl.boxType] }}
  </md-option>
  <md-divider></md-divider>
  <md-optgroup label="Group by">
    <md-option ng-if="resource !== $ctrl.boxType"
               ng-repeat="resource in $ctrl.boxTypeOptions"
               ng-value="resource">
      group by <strong>{{ resource }}</strong>
    </md-option>
  </md-optgroup>
</md-select>
