button.cart-button {
  width: auto !important;
}

.cart-panel {
  background: #eeeeee;
  border-radius: 4px;
  overflow: hidden;

  border: 1px solid rgba(0, 0, 0, 0.12);

  width: 500px;
  min-height: 180px;

  &.cart-panel-wide {
    width: 700px;
    min-height: 360px;

    .cart-panel-content {
      height: 400px;
    }
  }
}
