<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav
               class="mat-elevation-z3"
               mode="side"
               opened="true">

    <mat-toolbar color="primary" fxLayout="column">
      <span>Metabolica</span>

      <span fxFlex></span>

      <button type="button" mat-icon-button (click)="sidenav.close()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/home">Home</a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <div fxFlexFill fxLayout="column">
    <app-toolbar [sidenav]="sidenav"></app-toolbar>

    <div fxFlex style="overflow: auto">
      <div fxLayout="column">
        Xref menu:
        <app-xref-menu type="Experiment" [value]="{id: 'exp_id', identifier:'exp_identifier'}"></app-xref-menu>
        Xref link:
        <app-xref type="Experiment" [value]="{id: 'exp_id', identifier: 'exp_identifier'}"></app-xref>
      </div>

      <app-add-to-clipboard type="experiment" value="Awesome experiment"></app-add-to-clipboard>
      <app-clipboard-menu></app-clipboard-menu>

      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
