<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav class="mat-elevation-z3" mode="side" opened="true">

    <mat-toolbar color="primary" fxLayout="column">
      <span>Metabolica</span>

      <span fxFlex></span>

      <button type="button" mat-icon-button (click)="sidenav.close()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/home">Home</a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <div fxFlexFill fxLayout="column">
    <mat-toolbar color="primary">

      <button type="button" mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Custom Toolbar</span>
    </mat-toolbar>

    <div fxFlex style="overflow: auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

