.login-bg {
  background-image: url('../../../img/images/login-background.jpg')!important;
  background-size: 100% auto!important;
}

mat-card {
  min-width: 650px;
}

mat-form-field {
  width: 100%;
}
