<md-toolbar ng-hide="shouldHideMenus()"
            ng-style="{backgroundColor: $ctrl.project.color}"
            class="md-theme-light color-transition"
            layout="row">
  <div class="md-toolbar-tools">
    <md-button hide-gt-sm ng-click="$ctrl.toggleSidenav('left')"
               class="md-icon-button">
      <md-icon aria-label="Menu">menu</md-icon>
    </md-button>

    <search-toolbar>
      <h1>{{ $ctrl.getTitle() }}</h1>
      <span flex></span>
    </search-toolbar>

    <md-menu ng-show="sharing.targets.length" md-position-mode="target-right target">
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>share</md-icon>
      </md-button>

      <md-menu-content width="4">
        <md-menu-item ng-repeat="target in sharing.targets">
          <md-button ng-click="sharing.open(target.state)">
            <div layout="row">
              <p flex>{{ target.name }}</p>
              <md-icon md-menu-align-target>share</md-icon>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <md-menu>
      <md-button aria-label="More" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-list-item ng-repeat="component in $ctrl.navigation" ui-sref="{{ component.state }}">
          <md-icon md-svg-icon="{{ component.icon }}"></md-icon>
          <p ng-if="!$ctrl.inProjectComponent">{{ component.title }}</p>
        </md-list-item>
        <md-menu-divider ng-if="$ctrl.navigation.length"></md-menu-divider>
        <md-menu-item>
          <md-button ui-sref="app.docs">
            <md-icon>book</md-icon>
            API Documentation
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="$ctrl.logout()">
            <md-icon>lock</md-icon>
            Log Out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
