@import '../../vars';

.docs-schema-type {
	border: 1px solid $gray;
	padding: 3px;
	box-shadow: 1px 1px $gray;
	margin-right: 3px;
}

.docs-readonly-th {
	width: 24px;
}

docs {
	display: flex;
	flex: 1;
}

