<div class="shopping-cart md-whiteframe-3dp" md-colors="{background: 'default-accent-200'}">
  <div ng-repeat="itemGroup in $ctrl.groupItemsByType()">
    <div layout="row">
      <md-icon md-svg-icon="experiment"></md-icon>
      <h3 flex>{{ itemGroup.type }}</h3>
    </div>


    <md-table-container>
      <table md-table
             md-row-select
             ng-model="$ctrl.selectedItems"
             multiple>
        <tbody md-body>
          <tr md-row
              md-select="item"
              md-select-id="item.uri"
              ng-repeat="item in itemGroup.items">
            <td md-cell>{{ item.identifier }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-divider></md-divider>
  </div>


  <md-toolbar md-colors="{background: 'default-accent-200'}" class="md-dense md-accent" layout="row">
    <md-button class="md-icon-button" ng-click="$ctrl.clear()">
      <md-icon md-svg-icon="clear-all"></md-icon>
    </md-button>
    <span flex></span>
    <md-button class="md-icon-button">
      <md-icon md-svg-icon="share"></md-icon>
    </md-button>
  </md-toolbar>
</div>
