button.clipboard-button {
  width: auto !important;
}

.clipboard-panel {
  background: #eeeeee;
  border-radius: 4px;
  overflow: hidden;

  border: 1px solid rgba(0, 0, 0, 0.12);

  width: 500px;
  min-height: 180px;

  &.clipboard-panel-wide {
    width: 700px;
    min-height: 360px;

    .clipboard-panel-content {
      height: 400px;
    }
  }
}
